body {
  background-color: #111;
  color: #eee;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header styling */
.header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
.header h1 {
  margin: 0;
}

/* Section styling */
section {
  padding: 40px 0;
  border-bottom: 1px solid #444;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

h2 {
  color: #ddd;
}

h3 {
  margin: 0;
}

h4 {
  margin-top: 5px;
  color: #999;
}

.project {
  margin-bottom: 20px;
}

/* Link styling */
.resume-link,
a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.resume-link:hover,
a:hover {
  color: #2980b9;
}
